<div id="homepage">
  <h1>Fritter: your world, one tweet at a time</h1>
  <p>You must be signed in to continue.</p>
  <button id="signin-btn">Sign in</button>
  <button id="register-btn">Register</button>
</div>
