<div class="tweet" data-tweet-id={{_id}}>
  <p>{{content}} <i>-{{creator}}</i></p>
  <!--I might want to revisit the edit-tweet functionality later in the project-->
  <!--<a href="#" class="edit-tweet">Edit</a>-->
  <a href="#" class="delete-tweet">Delete</a>
</div>
