<div id="tweets">

  <p>Welcome, {{currentUser}} (<a href="#" id="logout-link">logout</a>)</p>
  
  <div>
    <div class="error"></div>
    <label for="new-tweet-input">Add a new tweet:</label>
    <input type="text" id="new-tweet-input" />
    <button id="submit-new-tweet">Add</button>
  </div>

  <h1>My Tweets</h1>

  {{#each tweets}}
    {{> tweet}}
  {{else}}
    <p><em>You haven't tweeted yet! Go ahead and tweet above.</em></p>
  {{/each}}

  <h1>All user's Tweets</h1>
  
  <!--Feed of all tweets, including yours!-->
  {{#each allTweets}}
    {{> allTweet}}
  {{else}}
    <p><em>Nobody's tweeted yet!</em></p>
  {{/each}}

</div>
